.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pale: hsl(225, 100%, 94%);
    --bright: hsl(245, 75%, 52%);
    --very: hsl(225, 100%, 98%);
    --desaturated: hsl(224, 23%, 55%);
    --dark: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/pattern-background-desktop.svg);
    background-color: var(--pale);
    font-family: 'Red Hat Display', sans-serif;
}

main {}

.box {
    border-radius: 16px;
    width: 350px;
    height: 525px;
    background-color: var(--very);
}

.box img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    max-inline-size: 100%;
}

.one {
    text-align: center;
    padding: .5rem;
}

.one h1 {
    padding-bottom: .85rem;
    font-weight: 900;
    color: var(--dark);
}

.one p {
    color: var(--desaturated);
}

.two {
    background-color: var(--pale);
    border-radius: 10px;
    padding: .85rem;
    margin: 1.8rem;
    display: flex;
}

.two img {
    padding-right: 1rem;
}

.two h2, p {
    font-size: 16px;
}

.two h2 {
    color: var(--dark);
    font-weight: 700;
}

.two p {
    color: var(--desaturated);
}

.two a {
    display: flex;
    font-weight: 700;

}

.two a:active {
    color:  hsl(245deg 83% 68%);
    text-decoration: none;
}

.together {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}


.three {
    display: flex;
    flex-direction: column;
}

.three a {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: var(--bright);
}

.three a:active {
    color: black;
}

button {
    width: 75%;
    border-radius: 5px;
    box-shadow: 20px 20px 50px var(--desaturated);
    background-color: var(--bright);
    color: var(--pale);
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-weight: 700;
    margin-left: 2.8rem;
}

button:active {
    background-color: hsl(245deg 83% 68%);
}